<div id="forgot">

	<h1 class="md-display-2">Forgot Password</h1>

	<form name="forgotForm" class="simple-form" ng-submit="intent.recoverPassword();">
		<md-input-container class="md-block">
			<input ng-model="user.email" type="email" placeholder="Email" ng-required="true">
		</md-input-container>

		<div class="button-wrap">
			<md-button type="submit" class="md-theme-default md-raised md-primary large" ng-disabled="forgotForm.$invalid">
				<span ng-hide="uiMe.syncing.form">Recover Password</span>
				<span ng-show="uiMe.syncing.form" class="spinner">
					<md-progress-circular class="md-accent md-hue-1 syncing-button active" md-mode="indeterminate" md-diameter="50" ></md-progress-circular>
				</span>
			</md-button>
		</div>

		<div class="status-message" ng-class="{active: reminderDone}">
			<p class="md-body-1">{{ status }}</p>
		</div>

	</form>

</div>