<md-content layout-padding layout-margin id="login" class="content-wrap" ng-cloak>

	<h1 class="md-display-2">Log In</h1>

	<div class="simple-form">

		<form name="loginForm" ng-submit="intent.login();">
			<md-input-container md-no-float>

				<ng-md-icon icon="person" style="fill: {{ mdColors.accent }}" size="26"></ng-md-icon>

				<input ng-model="user.email" type="email" placeholder="Email" ng-required="true">
				<a class="md-body-1 input-link" ui-sref="signup" tabindex="-1">Sign Up</a>
			</md-input-container>
			<md-input-container md-no-float>
				<ng-md-icon icon="lock" style="fill: {{ mdColors.accent }}" size="26"></ng-md-icon>
				<input ng-model="user.password" type="password" placeholder="Password" ng-required="true" ng-minlength="6" ng-pattern="/^.*(?=.*\d)(?=.*[a-zA-Z]).*$/">
				<a class="md-body-1 input-link" ui-sref="forgot" tabindex="-1">Forgot Password?</a>
			</md-input-container>

			<div class="button-wrap">
				<md-button type="submit" class="md-theme-default md-raised md-primary large" ng-disabled="loginForm.$invalid">
					<span ng-hide="uiMe.syncing.form">Log In</span>
					<span ng-show="uiMe.syncing.form" class="spinner">
						<md-progress-circular class="md-accent md-hue-1 syncing-button" md-mode="indeterminate" md-diameter="25"></md-progress-circular>
					</span>
				</md-button>
			</div>

		</form>

	</div>

	<md-button class="md-accent md-hue-1" ng-click="uiMe.facebookAuth()">
		<ng-md-icon icon="facebook" style="fill: {{ mdColors.accent }}" size="22"></ng-md-icon> Log in with Facebook
	</md-button>

</md-content>