<md-content layout-padding layout-margin id="login" class="simple-form" ng-cloak>

	<h1 class='md-display-1'>Forgot Password</h1>

	<form name="forgotForm" ng-submit="intent.sendReminder();">
		<md-input-container md-no-float>
			<md-icon class="icon" md-font-icon="icon-person" alt="User"></md-icon>
			<input ng-model="user.email" type="email" placeholder="Email" ng-required="true">
		</md-input-container>

		<div class="button-wrap">
			<md-button type="submit" class="md-theme-default md-raised md-primary large" ng-disabled="forgotForm.$invalid">
				<span ng-hide="uiMe.syncing.form">Send Reminder</span>
				<span ng-show="uiMe.syncing.form" class="spinner">
					<md-progress-circular class="md-accent md-hue-3 syncing-button active" md-mode="indeterminate" ></md-progress-circular>
				</span>
			</md-button>
		</div>

		<div class="status-message" ng-class="{active: reminderDone}">
			<p class="md-body-1">{{ status }}</p>
		</div>

	</form>

</md-content>