<md-content layout-padding layout-margin id="signup" class="content-wrap simple-form">

	<span ng-if="!uiMe.integration.id">
		<h1 class='md-display-2'>Sign Up</h1>
	</span>

	<span ng-if="uiMe.integration.id">
		<h1 class='md-display-2'>Facebook Connected</h1>
		<p class="md-body-1">You have successfully connected to Facebook. Please complete the information below to create your account.</p>
	</span>

	<form name="signupForm" ng-submit="intent.signup()">
		<md-input-container md-no-float>
			<ng-md-icon icon="person" style="fill: {{ mdColors.accent }}" size="26"></ng-md-icon>
			<input ng-model="user.username" type="text" placeholder="Username" ng-required="true">
		</md-input-container>
		<md-input-container md-no-float>
			<ng-md-icon icon="email" style="fill: {{ mdColors.accent }}" size="26"></ng-md-icon>
			<input ng-model="user.email" type="email" placeholder="Email" ng-required="true">
		</md-input-container>
		<md-input-container md-no-float>
			<ng-md-icon icon="lock" style="fill: {{ mdColors.accent }}" size="26"></ng-md-icon>
			<input ng-model="user.password" type="password" placeholder="Password" ng-required="true" ng-minlength="6" ng-pattern="/^.*(?=.*\d)(?=.*[a-zA-Z]).*$/">
			<p class="md-body-1 input-desc">minimum 6 characters, alphanumeric</p>
		</md-input-container>

		<div class="button-wrap">
			<md-button type="submit" class="md-theme-default md-raised md-primary large" ng-disabled="signupForm.$invalid" >
				<span ng-hide="uiMe.syncing.form">Sign Up</span>
				<span ng-show="uiMe.syncing.form" class="spinner">
					<md-progress-circular class="md-accent syncing-button active" md-mode="indeterminate" md-diameter="25" ></md-progress-circular>
				</span>
			</md-button>
		</div>

	</form>

	<md-button class="md-accent md-hue-1" ng-click="uiMe.facebookAuth()" ng-hide="uiMe.integration.id">
		<ng-md-icon icon="facebook" style="fill: {{ mdColors.accent }}" size="26"></ng-md-icon> Sign up with Facebook
	</md-button>

</md-content>