#content{
	md-icon{
		font-size: 20px;
		line-height: 0;
	}
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-a3pamq');
	src:url('../fonts/icomoon.eot?#iefix-a3pamq') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-a3pamq') format('woff'),
		url('../fonts/icomoon.ttf?-a3pamq') format('truetype'),
		url('../fonts/icomoon.svg?-a3pamq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-unicorn:before {
	content: "\e600";
}

.icon-user:before {
	content: "\eb08";
}

.icon-users:before {
	content: "\eb09";
}

.icon-lock:before {
	content: "\eb50";
}

.icon-list:before {
	content: "\ec57";
}

.icon-menu:before {
	content: "\ec6a";
}

.icon-arrow-up:before {
	content: "\edb4";
}

.icon-arrow-right:before {
	content: "\edb8";
}

.icon-arrow-down:before {
	content: "\edbc";
}

.icon-arrow-left:before {
	content: "\edc0";
}

.icon-share:before {
	content: "\eedd";
}

.icon-mail:before {
	content: "\eee0";
}

.icon-google-plus:before {
	content: "\eee4";
}

.icon-facebook:before {
	content: "\eee8";
}

.icon-instagram:before {
	content: "\eeec";
}

.icon-twitter:before {
	content: "\eeed";
}

.icon-youtube:before {
	content: "\eef5";
}

.icon-vimeo:before {
	content: "\eef8";
}

.icon-github:before {
	content: "\ef0e";
}

.icon-tumblr:before {
	content: "\ef17";
}

.icon-linkedin:before {
	content: "\ef25";
}

