<!DOCTYPE html>
<html>
  <head>
    <title>Unicorn</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <base href="/">
    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bower/angular-material/angular-material.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/lodash/lodash.js"></script>
    <script src="/js/dependencies/other/cloudsdk.js"></script>
    <script src="/js/dependencies/other/sails.io.js"></script>
    <script src="/js/unicorn.module.js"></script>
    <script src="/js/cloud.js"></script>
    <script src="/js/ui-models/uiArray.array.js"></script>
    <script src="/js/ui-models/uiObject.object.js"></script>
    <script src="/js/controllers/AppCtrl.js"></script>
    <script src="/js/controllers/account/ForgotCtrl.js"></script>
    <script src="/js/controllers/account/HomeCtrl.js"></script>
    <script src="/js/controllers/account/IntegrationCtrl.js"></script>
    <script src="/js/controllers/account/LoginCtrl.js"></script>
    <script src="/js/controllers/account/ProfileCtrl.js"></script>
    <script src="/js/controllers/account/ResetCtrl.js"></script>
    <script src="/js/controllers/account/SignupCtrl.js"></script>
    <script src="/js/services/lodash.js"></script>
    <script src="/js/ui-models/uiErrorBus.object.js"></script>
    <script src="/js/ui-models/uiList.array.js"></script>
    <script src="/js/ui-models/uiMe.object.js"></script>
    <script src="/js/unicorn.routes.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
