<md-content id="home">

	<h1 class="md-display-2" hide show-gt-sm>Unicorn</h1>

	<md-content layout="row" layout-sm="column" layout-padding>

		<div flex class="welcome">
			<img src="/images/sparklehorse.gif">
			<p class="md-body-1"><strong>{{ uiMe.username || 'Hooray' }}!</strong> You've found Unicorn, a Treeline / Angular seed.</p>
		</div>

		<div flex class="why">
		
				<h1 class="md-display-1" hide-gt-sm>Unicorn</h1>

				<div class="icon-morph" layout="row" layout-align="center">
					<ng-md-icon icon="{{ currentIcon }}" style="fill: {{mdColors.accent}}" size="50"></ng-md-icon>
				</div>

				<p class="md-body-1 lead">Because who wants to rebuild the same architecture for every project? Unicorn is an evolving seed that currently contains the following features:</p>

				<md-list>
				  <md-list-item class="md-2-line">
				    <md-checkbox aria-label="Material Design" ng-model="item.design" ng-init="item.design = true"></md-checkbox>
				    <div class="md-list-item-text">
				      <h3><strong>Angular Material Design</strong></h3>
				      <p>Angular's beautiful new <a target="_blank" href="https://material.angularjs.org/">Material Design</a> framework integrated.</p>
				    </div>
				  </md-list-item>
				  <md-list-item class="md-2-line">
				    <md-checkbox aria-label="Treeline" ng-model="item.treeline" ng-init="item.treeline = true"></md-checkbox>
				    <div class="md-list-item-text">
				      <h3><strong>Primed for Treeline</strong></h3>
				      <p>Built for the new Node/Sails platform <a target="_blank" href="https://treeline.io/">Treeline</a>. Check out the <a target="_blank" href="https://treeline.io/luke#/projects/3202">Treeline project</a> to see how the endpoints are put together.</p>
				    </div>
				  </md-list-item>
				  <md-list-item class="md-2-line">
				    <md-checkbox aria-label="User management" ng-model="item.user" ng-init="item.user = true"></md-checkbox>
				    <div class="md-list-item-text">
				      <h3><strong>User Management</strong></h3>
				      <p>User management via email or Facebook authorization. Includes signup, login, profile, forgot password and token authorization.</p>
				    </div>
				  </md-list-item>
				</md-list>

		</div>

	</md-content>

</md-content>
